@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
  }

body {
    font-family:'Comfortaa', 'Open Sans','Roboto';
    color:#3a3a3a;
    font-weight: 300;
    font-size: large;
  }

h1, h2, h3 {
    font-family: 'Comfortaa';
    text-transform: uppercase;
    color: rgb(4,169,160);
  }

header a {
  text-decoration: none;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo {
    color: #A13376;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .links a {
    text-decoration: none;
    color: rgb(4,169,160)
  }

  ul li {
    padding: 5px;
    margin-left: 10px;
  }


.links a:hover {
        border-bottom: 1px solid;
  }

.active {
    color: rgb(4,169,160);
    border-bottom: solid;
  }

#hero-outer {
    width: 100%;
    overflow: hidden;
  }

#hero-image {
    height: 60vh;
    width: 100vw;
    background: url('../images/background-image.jpg') no-repeat center center;
  }

.image-text {
    height: 160px;
    color: #A13376;
    background-color: rgb(255,255,255,67%);
    padding: 10px;
  }

.image-text p {
    text-transform: uppercase;
  }

.information-section {
    display: flex;
    padding-bottom: 20px;
  }

.information-section div {
    flex: 1;
    margin: 20px;
}

.information-section h2 {
    font-size: 1.8rem;
    padding-top: 1.5rem;
    color: rgb(4,169,160);
  }

.benefit-list {
  text-align: left;
  padding-left: 2rem;
  border: 1rem;
  }

footer {
    height: 50px;
  }

#social-networks {
    text-align: center;
    padding-top: 2rem;
  }

#social-networks > li {
    display: inline
  }

#social-networks i {
    font-size: 2rem;
    margin: 10px;
    color:#A13376
  }

.row {
    padding-top: 3%;
    margin-left: 2rem;
    padding-bottom: 30px;
  }

.column-left {
  display: flex;
  justify-content: start;
  padding: 10px;
  }

.massage-image {
      background-image: url('../images/baby-massage.jpeg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
  }

.testimonials {
  margin-left: 2rem;
  }

      @media screen and (max-width: 600px) {
.column {
    width: 100%;
    }
  }


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Comfortaa';
  }
  
input[type=submit] {
    background-color: #A13376;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: rgb(4,169,160);
  }

  #contact-us {
    padding-left: 2rem;
  }

.form {
    background-color: #f2f2f2;
    margin-top: 1rem;
    padding-left: 2rem;
    overflow: hidden;
  }
  
  .column {
    width: 50%;
    padding: 8px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 80%;
      padding-right: 20px;
      margin-top: 0;
      text-align: center;
    }
  }

  .container {
    padding: 16px;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: rgba(161, 51, 118, 0.4) 0px 5px, rgba(161, 51, 118, 0.3) 0px 10px, rgba(161, 51, 118, 0.2) 0px 15px, rgba(161, 51, 118, 0.1) 0px 20px, rgba(161, 51, 118, 0.05) 0px 25px;
  }

  .container::after {
  content: "";
  clear: both;
  display: table;
  }

@media (max-width: 500px) {
  .container {
    text-align: center;
    }

  .information-section {
    flex-direction: column;
    }
  }

  @media only screen and (max-width:600px) {
    header nav {
      display:flex;
    }
  }

