@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Comfortaa', 'Open Sans','Roboto';
    color:#3a3a3a;
    font-weight: 300rem;
}

h1, h2 {
    font-family: 'Comfortaa';
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 3rem;
    color: #A13376;
    font-weight: 6rem;
    margin-left: 1rem;
}

.links {
    font-size: 1.6rem;
    margin-top: 1rem;
}

#logo, .links {
    line-height: 10vh;
}

.links li {
    list-style-type: none;
    float: right;
    margin-right: 3rem;
}

.links a {
    text-decoration: none;
    color: #3a3a3a;
}

.links a:hover {
        border-bottom: 1px solid;
}

#active {
    color: rgb(4,169,160);
}

/* welcome image */

#hero-outer {
    height: 1vh;
    width: 100vw;
    overflow: hidden;
}

#hero-image {
    height: 60vh;
    width: 100vw;
    background: url('../images/background-image.jpg') no-repeat center center;
}

.information-section {
    padding-top: 3vh;
    margin-left: 2rem;
    column-count: 3;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid lightblue;
    column-width: 100px;
    padding-bottom: 5vh;
}

.information-section h2 {
    font-size: 1.5rem;
    letter-spacing: 0;
    color: rgb(4,169,160);
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a
}


#classes {
    background-image: url('../images/happy-baby.jpeg');
    background-repeat: no-repeat;
    float: left;
    height: 60vh;
    width: 100%;
    text-align: right;
  }

  table {
    float: right;
    border: 1px solid;
    font-size: 2rem;
    margin-top: 10vh;
    margin-left: 40vw;
    margin-right: 20vw;
  }

  table h1 {
    float: right;
    margin-top: 20%;
  }

  table, th, td {
        border: 1px solid;
  }