@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Comfortaa', 'Open Sans','Roboto';
    color:#3a3a3a;
    font-weight: 300rem;
}

h1, h2 {
    font-family: 'Comfortaa';
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: rgb(4,169,160);
}

#logo {
    float: left;
    font-size: 3rem;
    color: #A13376;
    font-weight: 6rem;
    margin-left: 1rem;
}

.links {
    font-size: 1.6rem;
    margin-top: 1rem;
}

#logo, .links {
    line-height: 10vh;
}

.links li {
    list-style-type: none;
    float: right;
    margin-right: 3rem;
}

.links a {
    text-decoration: none;
    color: rgb(4,169,160)
}

.links a:hover {
        border-bottom: 1px solid;
}

.active {
    color: rgb(4,169,160);
    border-bottom: solid;
}

/* welcome image */

#hero-outer {
    height: 1vh;
    width: 100vw;
    overflow: hidden;
}

#hero-image {
    height: 60vh;
    width: 100vw;
    background: url('../images/background-image.jpg') no-repeat center center;
}

.information-section {
    margin-left: 2rem;
    column-count: 3;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-width: 100px;
}

.information-section h2 {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding-top: 1.5rem;
    color: rgb(4,169,160);
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a
}

    .row {
        display: flex;
        float: left;
        padding-left: 2rem;
        column-gap: 6vw;
        overflow: hidden;
      }
      
      /* Create two equal columns that sits next to each other */
    .column-left {
        text-align: left;
        flex: 50%;
        height: 48vh;
        width: 40vw;
        font-family:'Comfortaa', 'Open Sans','Roboto';
        color:#3a3a3a;
        font-weight: 300rem;
      }

    .column-left h2 {
        text-align: left;
        padding-top: 1.5rem;
        color: rgb(4,169,160);
        margin-left: 0;
      }

    .column-right {
        background: url('../images/happy-baby.jpeg');
        background-repeat: no-repeat;
        margin-top: 3vh;
        width: 40vw;
        height: 45vh;
        margin-right: 3rem;
        border-style: solid;
        border-color: rgb(4,169,160);
        border-width: 10px;
      }

      @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.topics {
    padding-top: .5rem;
    padding-left: 2.5rem;
}


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Comfortaa';
  }
  
  input[type=submit] {
    background-color: #A13376;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(4,169,160);
  }
  
  #contact-us {
    text-align: left;
  }

  .form {
    background-color: #f2f2f2;
    margin-top: 1rem;
    padding-left: 2rem;
    overflow: hidden;
  }

  .form h1, h2 {
    padding-top: 6rem;
    margin-left: 2rem;
  }
  
  .column {
    width: 50%;
    padding: 8px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}